extends layout

block content
  .container
    .row.my-5
      .col-md-6.col-xs-6.pr-5.mb-4
        a(href="/listings/Computer Parts")
          .card
            img.card-img-top.img-fluid(src='https://previews.123rf.com/images/axsimen/axsimen1808/axsimen180800069/111682329-computer-parts-isometric-set-inside-the-computer-case-hardware-elements-hard-disk-drive-motherboard-.jpg', alt='Card image cap')
            .card-block
              h2.center Computer Parts
      .col-md-6.col-xs-6.pl-5.mb-4
        a(href="/listings/Computer Accessories")
          .card
            img.card-img-top.img-fluid(src='https://static.wixstatic.com/media/05aa8a_c1398be0a7004c6e83d27d3c6d76ca02~mv2.jpg', alt='Card image cap')
            .card-block
              h2.center Computer Accessories
      .col-md-6.col-xs-6.my-5.pr-5
            a(href="/listings/Smartphones")
              .card
                img.card-img-top.img-fluid(src='https://www.lg.com/au/images/smartphones/md05878255/gallery/V30-medium01.jpg', alt='Card image cap')
                .card-block
                  h2.center Smartphones
      .col-md-6.col-xs-6.my-5.pl-5
            a(href="/listings/Wearables")
              .card
                img.card-img-top.img-fluid(src='https://insider.fitt.co/wp-content/uploads/2018/09/wearables.jpg', alt='Card image cap')
                .card-block
                  h2.center Wearables
  footer.pt-5.footer.mx-3
    hr
    p 	&copy; Edwin S and Azad E
      
    
  
  
  
