extends layout

block content
    .container-fluid.pt-4.px-4
      .row
            h2.my-4 Purpose and philosophy
            p.my-3 My goal is to help all language learners, from children in preschool to the elderly, apply their language skills. It is all too easy to drown in the endless number of grammar points from textbooks, and even easier to forget them. Thus, I made Nikki so users can actually apply their knowledge and keep a journal of their progress. I hope they will find this a motivating way to continue their language learning journies, and perhaps make a couple of friends on the way! 
    footer.pt-5.footer.mx-3
      hr
      p 	&copy; Edwin Shen
        
    
  
  
  
